<nav class="w-full flex justify-between items-center  px-4 py-3 fixed">
    <h1 class="text-2xl font-bold">Blog Website</h1>
    <div class="mid flex gap-10 ">
        <a class="text-xl text-black " href="/">Home</a>
        <a class="text-xl text-black " href="">Create</a>
        <a class="text-xl text-black " href="">Show</a>
        <a class="text-xl text-black " href="">Update</a>
    </div>
    <div class="end">
        <a class="text-md text-white px-4 py-2 bg-black rounded" href="/login">Login</a>
        <a class="text-md text-white px-4 py-2 bg-black rounded" href="/register">Register</a>
    </div>
</nav>